body{background-color: #F3F3F3;
    margin: 0%;
}
.contacts{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.penhub{
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}
#mypic{    
    border-radius: 50%;
    width: 120px;
    height: auto;
}